@use '@angular/material' as mat;
@use '@fairylights-studio/ngx-m3-button/styles';

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

html,
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  @include mat.system-classes();

  min-height: 100%;
  margin: 0;

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 24
}
}
